@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.cadastro-funcion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35rem;
  position: absolute;
  z-index: 20;
  margin-top: 25rem;
}

.fucion-content {
  z-index: 10;
  color: white;
  margin: -5rem 0;
  margin-top: -25rem;
  width: 30vw;
  height: 70vh;
  background-color: #191c24;
  padding: 0;
  border-radius: 1rem;
  z-index: 20;
}

.funcion-body {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -2rem;
  height:66vh;
}
.funcion-body p {
  position: absolute;
  color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  z-index: 10;
}

.nome-fun {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0vh;
  margin-top: 4.2rem;
  padding: 2.6rem 2rem;
  z-index: 2;
}
.nome-fun input {
  width: 21vw;
  height: 4vh;
  border-radius: 25rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  padding: 0.4em 2rem 0.1rem 1.5rem;
  color: #fff;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.nome-fun input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}

.celular-fun {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9.3rem;
  margin-left: -11rem;
  height: 0vh;
  z-index: 1;
  float: left;
}

.celular-fun input {
  width: 8.4vw;
  height: 4vh;
  text-align: center;
  padding: 0.4em 2rem 0.1rem 1.5rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  color: #fff;
  letter-spacing: 0.1rem;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.celular-fun input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
}

.cpf-fun {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 9.3rem;
  margin-left: 11.2rem;
  height: 0vh;
  z-index: 1;
  float: right;
}

.cpf-fun input {
  width: 8.4vw;
  height: 4vh;
  padding: 0.4em 2rem 0.1rem 1.5rem;
  text-align: center;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  letter-spacing: 0.1rem;
  color: #fff;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.cpf-fun input::placeholder {
  color: #fff;
  font-size: 1.1rem;
}

.av-rua-fun {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 0.1rem;
  height: 0vh;
  margin-top: 10.3rem;
  padding: 2.6rem 2rem;
}
.av-rua-fun input {
  width: 21.3vw;
  height: 4vh;
  padding: 0.4em 2rem 0.1rem 1.5rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  letter-spacing: 0.1rem;
  color: #fff;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.av-rua-fun input::placeholder {
  color: #fff;
  font-size: 1.1rem;
  padding: 0 -3rem;
}

.nun-end-fun {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14.3rem;
  margin-left: -16.9rem;
  height: 0vh;
  z-index: 1;
  float: left;
}

.nun-end-fun input {
  width: 3vw;
  height: 4vh;
  text-align: center;
  padding: 0.4em 1rem 0.1rem 1rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  color: #fff;
  letter-spacing: 0.1rem;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.nun-end-fun input::placeholder {
  margin-top: 0.2rem;
  color: #fff;
  font-size: 1rem;
}

.complemento-fun {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 14.3rem;
  margin-left: 5.1rem;
  height: 0vh;
  z-index: 1;
  float: right;
}

.complemento-fun input {
  width: 12.9vw;
  height: 4vh;
  padding: 0.4em 5rem 0.1rem 0.8rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  letter-spacing: 0.1rem;
  color: #fff;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.complemento-fun input::placeholder {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.bairro-fun {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16.8rem;
  margin-left: -11rem;
  height: 0vh;
  z-index: 1;
  float: left;
}

.bairro-fun input {
  width: 4.3vw;
  height: 4vh;
  text-align: center;
  padding: 0.4em 5.7rem 0.1rem 1rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  z-index: 1;
  color: #fff;
  letter-spacing: 0.1rem;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.bairro-fun input::placeholder {
  margin-top: 0.3rem;
  color: #fff;
  z-index: 1;
  font-size: 1rem;
}

.cidade-fun {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16.8rem;
  margin-left: 11.1rem;
  height: 0vh;
  z-index: 1;
  float: right;
}

.cidade-fun input {
  width: 4.7vw;
  height: 4vh;
  padding: 0.4em 5.9rem 0.1rem 1rem;
  background-color: #0f1015;
  border-bottom: 1px solid #6c7293;
  letter-spacing: 0.1rem;
  color: #fff;
  outline: none;
  border-radius: 25rem;
  font-family: "Montserrat", sans-serif;
}
.cidade-fun input::placeholder {
  color: #fff;
  font-size: 0.9rem;
}

.button-funcionlog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height:6vh;
  width: 25vw;
  font-family: "Rubik", sans-serif;
  background-color: #ed8c1a;
  padding: 0.1rem 2rem 0.5rem 2rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 20.5rem;
  margin-left: 0.7rem;
}

.button-funcionlog:hover {
  background-color: black;
  color: #ed8c1a;
  font-weight: bold;
}
